<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ysh.jqGri.repository.TestRepository">

	<select id="getTestData" resultType="com.ysh.jqGri.dto.TestDto">
		select * from test_data
	</select>

	<select id="getAllUser" resultType="com.ysh.jqGri.dto.TestDto"
		parameterType="map">
		select * from test_data
		where limit #{paging}, #{rows}
	</select>

	<select id="getCount" resultType="Integer">
		select count(*) from test_data
	</select>

	<select id="getTotalData" resultType="map">
		SELECT COUNT(*) totalCnt, CEIL(COUNT(*)/5) totalPage FROM test_data;
	</select>

	<select id="getDataByPaging" parameterType="map"
		resultType="com.ysh.jqGri.dto.TestDto">
		SELECT aa.*
		FROM(SELECT a.*,@rownum:=@rownum+1 AS rnum, FLOOR((@rownum -1)/#{rows}+1) pageNumber
		FROM( SELECT @rownum := 0 )b , (SELECT * FROM test_data ORDER BY id
		ASC)a)aa
		WHERE aa.pageNumber = #{page} ORDER BY aa.rnum;
	</select>

</mapper>